/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */

/* * is a wildcard referring to all elements. */
* { margin: 23px; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: /* Ubuntu, sans-serif */;
    color: /* #xxxxxx */;
}

h1 {
    font-size:23 /* x.xrem  (rem is a unit of measure) */;
    color: whitesmoke/* #xxxxxx */;
}

h2 {
    font-size: /* x.xrem */;
    text-align: center;
    border-bottom: 1px solid #bbb;
}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: /* xxxpx (px = pixel is a unit of measure)  */;
}

header, footer, footer a {
    text-align: center;
    background-color: navy/* */;
    color: whitesmoke;
}

header img {
    width:25% /*  */;
    height: 25%;
    float: right;
}

footer {
    font-size: /* smaller */;
}