@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
 
  
/*  Picture Gallery Grid displays 3 across and shodow box for large format only */
	div.pictureGallery {
		padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}
	div.pictureGallery figure:hover {
		box-shadow: 3px 15px 10px #139E90;
	}
	
/* Home Page - Town Intro pics for large format */

	.introGrid {
		padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}

/* Home Page - Town Intro pics for large format */

	.prestonAPI {
		padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}

	.prestonOverlay {
		padding: 1rem 2%;
	}
	
}