html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  margin: 0rem;
  font-size: 18px;
  font-family: 'Charmonman', serif;

}

h1 {
    Font-size: 65px;
	font-family: 'Tangerine', serif;
}

h2 {
	Font-size: 24px;
	font-family: 'April+Fatface', serif;
}

h3 {
	Font-size: 18px;
	font-family: 'April+Fatface', serif;
	}

h4 {
    Font-size: 45px;
	text-align: center;
	color: #D5F9F6;
	font-family: 'Tangerine', serif;
}

header {
    padding: .20rem .5%;
    font-family: 'Tangerine', serif;
	justify-content: center;
	align-items: center;
}


nav button {
    margin: .2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
        }


header h1 {
	margin: 0;
	display: flex;
	display-grid: flex;
	justify-content: center;
	align-items: center;
	color: 0B3A59;
}
header h2 {
	margin: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: normal;
}
	
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
	
header div.logopicture img {
	float: center;
    width: auto;
	padding: 15px 5%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
/*
div.floatingimage img{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}*/

div.logoheading {
    float: center;
	display: center;
	width:100%;
	padding: 15px 5%;
	color: #D5F9F6;
    background-color: #0B3A59;
	background-image: linear-gradient(to bottom, #0B3A59 0%, #0B5951 100%);
    flex-flow: column nowrap;
    justify-content: center;
	
}
/* rounds corners around round picture*/
.roundrect{
	border-radius: 53px;
}

nav button {
    display: block;
    position: absolute;
    margin-top: 0.1rem;
    margin-left: .5rem;
}

nav ul {
    list-style-type: none;
	padding: 20px, 20px;
    margin: 0;
    display: flex;
	width: 100%;
	background-color: #0B3A59;
    flex-wrap: column wrap;
}

nav button {
    margin: .01rem;
    background-color: transparent;
    border: transparent;
    font-size: 2.5rem;
    color: #D5F9F6;
}


nav {
  background-color:#0B5951;
}

/*nav bar - main bar*/
nav ul li {
    text-align: center;
	list-style: none;
    border-bottom: 1px solid #75BDED;
	flex-basis: 100%
    }
/*nav bar - individual tabs*/	
nav ul li a {
	display: block;
    background-color: #0B3A59;
    color: #D5F9F6;
    border-left: 1px solid #0B5950;
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    text-align: center;
    }
nav ul li:first-child a {border-left: none;}

/*nav bar hover feature*/
nav ul li a:hover {
    background-color: #14A796;
    color: #0B3A59;
    }
	
/*for highlighting active box*/
nav ul li.active a {
    background-color: #0B3A59;
    color: #D5F9F6;
    }
	
nav ul.hide {display: none;}

main {
    float: center;
	padding: 0 2%;
    min-height: 10rem;
	font-size: 24px;
	background-image: linear-gradient(to bottom, 
	#305b9d, #007faf, #009ea4, #5ab78c, #b2c97f);
}

main figure.prestonpic img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
	margin-bottom: 1em;
	border-radius: 5%;
}

main figure.prestonpic {
	display: block;
	margin: auto auto;
	/*margin-top:1em;
	margin-bottom:1em;
	margin-left: 0;
	margin-right: 0;*/
}
/*
main figure.partlysunnypic {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.fallleafpic {
    width: 50%;
    margin: 0 0 0 2%;
    float: right;
}
main figure.partlysunnypic img { width: 100%; margin: 0;}
main figure.partlysunnypic figcaption{text-align: center; font-size: .75rem}

main figure.prestonpic img { width: 100%; margin: 0;}
main figure.prestonpic figcaption{text-align: center; font-size: .75rem}

main figure.fallleafpic img { width: 100%; margin: 0;}
main figure.fallleafpic figcaption{text-align: center; font-size: .75rem}
*/

section.Weather-Report {
	margin: 0;
	box-sizing: border-box;
	border-style: double;
	width: auto;
	justify-content: center;
	align-items: center;
	border: 4px solid #0B3A59;
    padding: 10px;
    border-radius: 50px 20px;
}

section.5-Day-Outlook {
	width: auto;
	align-items: center;
}

article {
    width: auto;
    overflow: hidden;
    border-style: double;
	border-width: thick;
    margin-top: 1.0rem;
	border: 4px solid #0B3A59;
    padding: 10px;
    border-radius: 50px 20px;
}

div.Weekly-Highlights {
    /* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
    float: left;
    width: auto;
    /* fill the page in the small/phone view */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
	
}

div.Weekly-Highlights img {
    float: right;
    width: 35%;
    margin-top: -1.0rem;
    margin-bottom: 1.0rem;
	border-radius: 5%;
	
}

/*  Picture Gallery Grid  */

div.pictureGallery {
    padding: 1rem 2%;
    display: grid;
	grid-template-columns: flex;
}

div.pictureGallery figure {
    margin: 1rem;
    border: 1.5px solid #0b5951;
}

div.pictureGallery figure img {
    width: 100%;
}

div.pictureGallery figure figcaption {
    text-align: center;
    font-size: 1.0rem;
}

/*  Town Intro Grid  */


   .introGrid {
    padding: 3rem 2%;
    display: grid;
	grid-template-columns: flex;
    }
	
	.introGallery h1  {
		font-family: 'Tangerine', cursive; 
        color: #D5F9F6;
        margin: 1em;
        text-align: center;
}	

    section>article {
		background-color: #139E90;
        color:#D5F9F6;
        border: 1px solid #0B3A59;
		box-sizing: border-box;
		border-style: double;
		justify-content: center;
		align-items: center;
        border-radius: 10px 33px;
        padding: 0 10px 0 10px;
        margin: 2em 1em; 
		text-align: center;
    }
	
	section img {
		width: 100%;
	}
	
    .introGrid h2 {
        font-family: 'Abril+Fatface', cursive; 
        color: #D5F9F6;
        margin: 1em;
        text-align: center;
    }
	
     .introGrid h3 {
        font-family: 'Tangerine', serif;
		Font-size: 36px;
        color: #0B3A59;
        margin: 0.7em;
         text-align: center;
    }
    .introGrid p {
         font-family: 'Abril+Fatface', cursive;
        margin: 0.2em;
    }
    .introGrid ul {
         font-family: 'Exo', cursive;
        line-height: 1.9em;

    }

	



input,button,select,textarea {padding: .4rem;}

fieldset { background-color:transparent;}

input[type=button] { color: blue; }

input[type=button]:hover { background-color: blue; color: #fff; }

input:valid   {	background-color: lightgreen;  color: #0B3A59;}

input:invalid { background-color: lightgreen; color: pink;}

footer {
	margin: 0rem 0 0 0rem;
	background-color: #0b5950;
	background-image: linear-gradient(to top, #0B3A59 0%, #0B5951 100%);
	color: #D5F9F6;
    padding: .5rem 2%;
    text-align: center;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
