html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

	nav button {
		margin: .2rem 2%;
		background-color: rgb(32,73,78);
		border: none;
		font-size: 1.6rem;
		color: rgb(184,134,11);
	}
		
	nav {	
		background-color:rgb(32,73,78);
		text-align: center;
		flex-wrap: column wrap;
	}

	nav ul {
		list-style-type: none;
		width: 100%;
		padding: 0;
		margin: 0;
		/*padding: 20px, 20px;
		margin: 0;
		flex: 1;
		display: flex;
		width: 100%;
		background-color: #0B3A59;
		flex-wrap: column wrap;*/
	}
		
	/*nav bar - individual tabs*/	
	nav ul li a {
		display: block;
		background: rgb(32,73,78);
		color: rgb(184,134,11);
		/*border-left: 1px solid #0B5950;*/
		padding: 1rem;
		text-decoration: none;
		font-size: 1.1rem;
		/*text-align: center;*/
		}

	/*for highlighting active box*/
	nav ul li.active  {
		color: rgb(184,134,11);
		}

	nav ul li.active a {
		background-color: rgb(184,134,11);
		color: rgb(32,73,78);
		}

	/*nav bar hover feature*/
	nav ul li a:hover {
		flex: 1.1;
		background-color: rgb(184,134,11);
		color: rgb(32,73,78);
		}	
		
	nav ul.hide {display: none;}

	/*nav li:first-child a {border-left: none;}*/

body {
  display: 100%; 
  margin: 0.5rem;
  font-size: 18px;
  font-family: 'Old Standard TT', serif;
  color: rgb(184,134,11);
  background-color: #FFF8DC;
  background-image: ;
}


h1 {
    Font-size: 24px;
	text-align: left;
	font-family: Satisfy', cursive;
}

h2 {
	Font-size: 18px;
	font-family: Satisfy', cursive;
	color: rgb(32,73,78);
}

h3 {
	Font-size: 16px;
	font-family: 'Old Standard TT', serif;
	}

h4 {
	text-align: center;
	Font-size: 22px;
	font-weight: bold;
	line-height: 35%;
	font-family: 'Cormorant Garamond', serif;
	color: #B8860B;
	font-style: regular;
}

h5 {
	margin: 0rem;
	font-size: 18px;
	font-family: 'Cormorant Garamond', serif;
	color: #B8860B
	font-style: oblique;
	
}

h6 {
	margin: 1rem;
	text-align: justify;
	font-size: 24px;
	font-family: 'Cormorant Garamond', serif;
	color: #B8860B; 
	font-style: regular;
}



header {
    padding: .10rem .5%;
    font-family: 'Cinzel', serif;
	font-size: 30px;
	justify-content: left;
	align-items: left;
}


header h1 {
	margin: 0;
	display: flex;
	display-grid: flex;
	justify-content: center;
	align-items: center;
	color: ;
}
header h2 {
	margin: 0;
	display: flex;
	justify-content: center;
	text-align: center;
	font-weight: normal;
}
	
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
	
header div.logoheading img {
	float: center;
    width: auto;
	padding: 10px 5%;
    margin-top: 0rem;
    margin-bottom: 1rem;
}
/*
div.floatingimage img{
	position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}*/

div.logoheading {
    float: center;
	display: center;
	width:100%;
	padding: 15px 5%;
	color: #B8860B;
    background-color: rgb(32,73,78);
	background-image: ;
    flex-flow: column nowrap;
    justify-content: center;
	
}
/* rounds corners around round picture*/
.roundrect{
	border-radius: 53px;
}

/* Page Action Bar */

.book-now {
	margin: 0rem 0 0 0rem;
	background-color: rgb(32,73,78);
	color: #B8860B;
    padding: .5rem 2%;
    text-align: center;
}

.contact-us {
	margin: 0rem 0 0 0rem;
	background-color: rgb(32,73,78);
	color: #B8860B;
    padding: .5rem 2%;
    text-align: center;
}


/*Home*/

main {
    float: left;
	padding: 0 2%;
    min-height: 10rem;
	font-size: 24px;
	background-image: hotel-lobby.jpeg;
}
 .introGrid h2 {
        font-family: 'Old Standard TT', serif;
        color: rgb(184,134,11);
        margin: 1em;
        text-align: center;
    }
	
     .introGrid h3 {
        font-family: 'Old Standard TT', serif;
		Font-size: 36px;
        color: rgb(184,134,11);
        margin: 0.7em;
         text-align: center;
    }
    .introGrid p {
         font-family: 'Old Standard TT', serif;
        margin: 0.2em;
    }
    .introGrid ul {
         font-family: 'Old Standard TT', serif;
        line-height: 1.9em;
    }


/*Main Functions*/
div.main-container {
	position: relative;
}



/*(figure.prestonpic img {
    
    margin-left: auto;
    margin-right: auto;
    width: 100%;
	margin-bottom: .5em;
	border-radius: 5%;
}*/

section.services2 {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 5%
}


.research {
	display: block;
	flex-shrink: 3;
	/*transform: translate(-50%, -50%);*/
	margin: 0;
	box-sizing: border-box;
	border-style: double;
	width: flex;
	margin: 1rem;
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	line-height: 100%;
	font-family: ;
	color: #B8860B;
	font-style: regular;
	justify-content: center;
	align-items: center;
	border: 3px solid #B8860B;
    padding: 2px;
    border-radius: 50px 20px;
	background-image: rgb(32,73,78);
	opacity: .25;
}





/*.textOverlay{
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 50px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}*/


section.SnowflakeWeather-Report {
	position: absolute;
	top: 10%;
	left: 10%;
	bottom: 5%
}

.currentS {
	display: block;
	flex-shrink: 3;
	/*transform: translate(-50%, -50%);*/
	margin: 0;
	box-sizing: border-box;
	border-style: double;
	width: flex;
	margin: 1rem;
	text-align: justify;
	font-size: 18px;
	font-weight: bold;
	line-height: 35%;
	font-family: 'Old Standard TT', serif;
	color: #black;
	font-style: regular;
	justify-content: center;
	align-items: center;
	border: 2px solid #0B3A59;
    padding: 2px;
    border-radius: 10px 10px;
	background-image: rgb(32,73,78));
	opacity: .25;
}

.currentS img{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
	height: 10%;
	margin-top: .2em;
	margin-bottom: .2em;
	border-radius: .5%;
}

/*TemplesCarousel*/

	.carousel{
	float: center;
	width: auto;
	 margin-left: 0.5rem;
    margin-right: 0.5rem;
}
	* {box-sizing:border-box}

	/* Slideshow container */
	.slideshow-container {
	  display: 75%;
	  width: 100%;
	  position: relative;
	  margin: auto;
	}

	/* Hide the images by default */
	.mySlides {
	  display: none;
	}

	/* Next & previous buttons */
	.prev, .next {
	  cursor: pointer;
	  position: absolute;
	  top: 50%;
	  width: auto;
	  margin-top: -22px;
	  padding: 5px;
	  color: white;
	  font-weight: bold;
	  font-size: 18px;
	  transition: 0.6s ease;
	  border-radius: 0 3px 3px 0;
	  user-select: none;
	}

	/* Position the "next button" to the right */
	.next {
	  right: 0;
	  border-radius: 3px 0 0 3px;
	}
	
	/* Position the "prev button" to the left */
	.prev {
	  left: 0;
	  border-radius: 3px 0 0 3px;
	}

	/* On hover, add a black background color with a little bit see-through */
	.prev:hover, .next:hover {
	  background-color: rgb(32,73,78);
	}

	/* Caption text */
	.text {
	  color: #FFF8DC;
	  font-size: 25px;
	  padding: 8px 12px;
	  position: absolute;
	  bottom: 8px;
	  width: 100%;
	  text-align: center;
	}

	/* Number text (1/3 etc) */
	.numbertext {
	  color: #f2f2f2;
	  font-size: 12px;
	  padding: 8px 12px;
	  position: absolute;
	  top: 0;
	}

	/* The dots/bullets/indicators */
	.dot {
	  cursor: pointer;
	  height: 15px;
	  width: 15px;
	  margin: 0 2px;
	  background-color: rgb(32,73,78);
	  border-radius: 50%;
	  display: inline-block;
	  transition: background-color 0.6s ease;
	}

	.active, .dot:hover {
	  background-color: rgb(184,134,11);
	}

	/* Fading animation */
	.fade {
	  -webkit-animation-name: fade;
	  -webkit-animation-duration: 1.5s;
	  animation-name: fade;
	  animation-duration: 1.5s;
	}

	@-webkit-keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}

	@keyframes fade {
	  from {opacity: .4} 
	  to {opacity: 1}
	}

/*Temples - sub pages*/


	.templeGrid {
		padding: 3rem 2%;
		display: 50%;
		grid-template-columns: flex;
		display: 100%; 
		margin: 0.5rem;
		font-size: 18px;
		font-family: 'Old Standard TT', serif;
		color: rgb(184,134,11);
		background-color: #FFF8DC;
		background-image: ;
    }
	
	.templeGallery h1  {
		font-family: 'Old Standard TT', serif; 
        color: rgb(184,134,11);
        margin: 1em;
        text-align: center;
}	

    section>article {
		background-color: #FFF8DC;
        color:rgb(184,134,11);
        border: none;
		box-sizing: border-box;
		border-style: double;
		justify-content: center;
		align-items: center;
        border-radius: 10px 33px;
        padding: 0 10px 0 10px;
        margin: 2em 1em; 
		text-align: center;
    }
	
	section img {
		width: 100%;
	}
	
   

/*Services & Events*/

	/*.research {
		padding: 3rem 2%;
		display: 50%;
		grid-template-columns: flex;
		display: 100%; 
		margin: 0.5rem;
		font-size: 18px;
		font-family: 'Old Standard TT', serif;
		color: rgb(184,134,11);
		background-color: #f7f7f7;
		background-image: ;
    }*/
	
	.templeGallery h1  {
		font-family: 'Old Standard TT', serif; 
        color: rgb(184,134,11);
        margin: 1em;
        text-align: center;
}	

    section>article {
		background-color: #FFF8DC;/*Cornsilk*/
        color:rgb(184,134,11);
        border: none;
		box-sizing: border-box;
		border-style: double;
		justify-content: center;
		align-items: center;
        border-radius: 5px 5px;
        padding: 0 5px 0 5px;
        margin: 2em 1em; 
		text-align: center;
    }
	
/*Reservations*/

.inquirycenter {
}



input[type=radio] {padding: .4rem;}

fieldset { background-color:transparent;}

input[type=radio] { color: blue; }

input[type=radio]:hover { background-color: blue; color: #fff; }

input:valid   {	background-color: ##f4c03e;  color: ##f4c03e;}

input:invalid { background-color: ##f4c03e; color: rgb(32,73,78);}


/*Contact Us*/

.contactUs {
	
	
}

input[type=radio] {padding: .4rem;}

fieldset { background-color:transparent;}

input[type=radio] { color: blue; }

input[type=radio]:hover { background-color: blue; color: #fff; }

input:valid   {	background-color: lightgreen;  color: #0B3A59;}

input:invalid { background-color: lightgreen; color: pink;}



/*Gallery Images*/

div.pictureGallery {
    padding: 1rem 2%;
    display: grid;
	grid-template-columns: flex;
}

div.pictureGallery figure {
    margin: 1rem;
    border: 1.5px solid #0b5951;
}

div.pictureGallery figure img {
    width: 100%;
}

div.pictureGallery figure figcaption {
    text-align: center;
    font-size: 1.0rem;
}





/* Page Footer */

.main-footer {
	margin: 0rem 0 0 0rem;
	background-color: rgb(32,73,78);
	color: #B8860B;
    padding: .5rem 2%;
    text-align: center;
}

/* Create three unequal columns that sits next to each other */
.column {
  padding: 3px;
}

/* Left and right column */
.column.side {
   -webkit-flex: 1;
   -ms-flex: 1;
   flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

/* Style the footer */
.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

section.footer-bar{
	text-align: center;
	overflow-wrap: normal;
	overflow-wrap: break-word;
    width: 100%;
    height: auto;
	padding: 1rem 2%;
		display: grid;
		grid-template-columns: .5fr 1fr 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}

section.footer-id{
	text-align: center;
	overflow-wrap: normal;
	overflow-wrap: break-word;
    width: 100%;
    height: auto;
	padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr;
		/*grid-template-rows: 1fr 1fr 1fr;*/
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}

.logo{
	text-align: center;
	flex: 0 75%;
	max-width: 75%;
}

.contact {
	text-align: center;
	overflow-wrap: normal;
	overflow-wrap: break-word;
    width: 100%;
    height: auto;
}

.attributions{
	
}

section.contact img {
	display: inline-block;
    vertical-align: middle;
    width: 100%;
    max-width: 200px;
    height: auto;
    margin: 2.5em 0 auto 0;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
