@media only screen and (min-width: 500px) and (max-width: 850px) {
    
	/*Medium View navigation display */
	nav button {display: none;}
		
nav {
    display: inline-flex;
	overflow-wrap: normal; 
	justify-content: center;
	background: rgb(32,73,78);
	width: 100%;
    margin: 0;
    padding: .5em;	
}

nav ul {
    display: inherit;
	justify-content: center;
	align-self: center;
	margin: 0;
}
	
nav ul li{
	padding: .5em;
	text-align: center;
	list-style-type: none;
}
	
/*nav bar - individual tabs*/	
nav ul li a {
    background: rgb(32,73,78);
	color: rgb(184,134,11);
    padding: auto;
    text-decoration: none;
    font-size: 1.1rem;
	text-decoration: none;
    }
	
/*for highlighting active box*/
nav ul li.active  {
    color: rgb(184,134,11);
    }

nav ul li.active a {
    background-color: rgb(184,134,11);
	color: rgb(32,73,78);
    }

/*nav bar hover feature*/
nav ul li a:hover {
	flex: 1.1;
	background-color: rgb(184,134,11);
	color: rgb(32,73,78);
    }	

	
    header{    
    padding-left: 12.0rem;
    padding-top: 8.0rem;
    padding-right: 12.0rem;    
    }

    main {
    padding-left: 10%;  
    padding-right: 10%;
    }
    
    section.Weather-Summary,.forecast {
    flex: 50%;
    padding: 2%;    
    }
    
    section.Weather-Summary{
    width: auto;
    }

   
    .row{ 
    display: flex;
    }
    
    .forecast{
    display:table;
    width: 75%;
    text-align: center;
    }
    
    th{
    border: 1px solid black;
    }
    
    td {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
    }
    
    footer {
    padding: 7%;    
    }
 
    div.pictureGallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }

	
	/* Home Page - Town Intro pics for Medium format */

	.introGrid {
		padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}
  }