@media only screen and (min-width: 500px) and (max-width: 850px) {
    
	/*Medium View navigation display */

	
	

	
    header{    
    padding-left: 12.0rem;
    padding-top: 8.0rem;
    padding-right: 12.0rem;    
    }

    main {
    padding-left: 10%;  
    padding-right: 10%;
    }
    
    section.Weather-Summary,.forecast {
    flex: 50%;
    padding: 2%;    
    }
    
    section.Weather-Summary{
    width: auto;
    }

   
    .row{ 
    display: flex;
    }
    
    .forecast{
    display:table;
    width: 75%;
    text-align: center;
    }
    
    th{
    border: 1px solid black;
    }
    
    td {
    border: 1px solid black;
    text-align: center;
    padding: 7px;
    }
    
    footer {
    padding: 7%;    
    }
 
    div.pictureGallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    }

	
	/* Home Page - Town Intro pics for Medium format */

	.introGrid {
		padding: 1rem 2%;
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		grid-column-gap: 5px;
		grid-row-gap: 5px;
}
  }